<div class="col-xs-12">
    <div class="row">
        <form class="form-horizontal" role="form" id="form" action="{:url('/admin/steelmanagement/addcustom')}">
            <div class="form-group">
                <input type="hidden" name="id" value="{$data.id}">
                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="row text-right">
                                <label class="control-label qg-control-label">往来单位归类</label>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="checkbox">
                                <label><input type="checkbox" value="1" name="iscustom" {if condition="$data.iscustom==1"}checked{/if}>客户</label>
                                <label><input type="checkbox" value="1" name="issupplier" {if condition="$data.issupplier==2"}checked{/if}>供应商</label>
                                <label><input type="checkbox" value="1" name="other" {if condition="$data.other==3"}checked{/if}>其它</label>

                            </div>
                        </div>
                    </div>
                </div>
                {include file="tpl/input" results="data" name="custom" label="全称" value="custom" attr='data-rule="required;"'/}
                {include file="tpl/input" results="data" name="zjm" label="编码" value="zjm" attr='data-rule="required;"'/}
                {include file="tpl/input" results="data" name="short_name" label="简称" value="short_name" /}
                {include file="tpl/input" results="data" name="lxr" label="联系人" value="lxr" /}
                {include file="tpl/input" results="data" name="phone" label="电话" value="phone" /}
                {include file="tpl/input" results="data" name="sort" label="排名" value="sort" /}
            </div>
            <div class="form-group" style="margin-top: 20px;">
                {include file="tpl/button" label="保存"/}
            </div>
        </form>
    </div>
</div>