<div class="col-xs-12">
    <div class="row">
        <form class="form-horizontal" role="form" id="form" action="{:url('/admin/steelmanagement/addfaxi')}">
            <div class="form-group">
                <input type="hidden" name="id" value="{$data.id}">
                {include file="tpl/input" results="data" name="guizename" label="规则名称" value="guizename" attr='data-rule="required;"'/}
                {include file="tpl/input" results="data" name="zljs" label="重量基数（吨）" value="zljs"/}
                {include file="tpl/input" results="data" name="weight_begin" label="重量区间（起/吨）" value="weight_begin" /}
                {include file="tpl/input" results="data" name="weight_end" label="重量区间（终/吨）" value="weight_end" /}
                {include file="tpl/input" results="data" name="ticheng_price" label="提成单价（元）" value="ticheng_price" attr='data-rule="required;"'/}
                {include file="tpl/input" results="data" name="huikuanxishu" label="回款系数（%）" value="huikuanxishu" /}
                {include file="tpl/input" results="data" name="huikuanxishu" label="扣款单价（元）" value="huikuanxishu" /}
                {include file="tpl/input" results="data" name="jsgs" label="计算公式" value="jsgs" attr='data-rule="required;"'/}
            </div>
            <div class="form-group" style="margin-top: 20px;">
                {include file="tpl/button" label="保存"/}
            </div>
        </form>
    </div>
</div>