{include file="/common/base"}
<div class="table-responsive">
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 pull-left">
        <div class="row">
            <button type="button" class="btn btn-outline btn-default" onclick="modal('/admin/steelmanagement/addpaymenttype/type/{$type}','添加','80%','30%')">添加</button>
        </div>
    </div>
    <table class="table table-bordered" style="margin-top:10px">
        <thead>
        <tr>
            <th nowrap="nowrap">ID</th>
            <th nowrap="nowrap">类型名称</th>
            <th nowrap="nowrap">类别</th>
            <th nowrap="nowrap">添加人</th>
            <th nowrap="nowrap">创建日期</th>
            <th nowrap="nowrap">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr>
            <td nowrap="nowrap">{$vo.id}</td>
            <td nowrap="nowrap">{$vo.name}</td>
            <td nowrap="nowrap">{$vo.class}</td>
            <td nowrap="nowrap">{$vo.add_name}</td>
            <td nowrap="nowrap">{$vo.create_time}</td>
            <td nowrap="nowrap">
                <!-- 启用、禁用 -->

                <!--编辑资料-->
                <i class="fa fa-edit qg-op-btn qg-tooltip" data-toggle="tooltip" data-placement="top" title="编辑" onclick="modal('{:url(\'/admin/steelmanagement/addpaymenttype\',[\'id\'=>$vo[\'id\'],\'type\'=>$vo[\'type\']])}', '编辑','80%','50%')"></i>
                <!--删除-->
                <i class="fa fa-trash-o qg-tooltip qg-op-btn" data-toggle="tooltip" data-placement="top" title="删除" url="" onclick="confirmDelete('/admin/steelmanagement/delete','{$vo.id}','paymenttype','确定要删除吗？')"></i>
            </td>
        </tr>
        {/volist}

        </tbody>
    </table>
    <div style="float: right;"></div>
</div>
<script></script>